.carousel {
    padding: 10px 0;
    &__inner {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    .slick-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -33px;
        border: none;
        background-color: #fff;

        img {
            height: 21px;
            width: 12px;
        }
    }

    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -33px;
        border: none;
        background-color: #fff;

        img {
            height: 21px;
            width: 12px;
        }
    }

    .slick-slide img {
        display: block;
        width: 200px;
      }

}

