.reviews {
    padding-bottom: 100px;
    &__items{
        display: flex;
        flex-wrap: wrap;
    }
    &__items {
        margin: 70px 0;
    }
    &-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 100px;
        &:last-child() {
            margin-bottom: 0;
        }
        &__img {
            width: 180px;
            height: 180px;
            margin-right: 60px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
            }

        }
        &__text {
            width: 700px;
        }
        &__subtitle {
            font-size: 18px;
            font-weight: 700;
            text-align: left;
            color: #0d0d0d;
            margin-bottom: 6px;
        }
        &__minititle {
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: #646464;
            margin-bottom: 13px;
        }
        &__descr {
            font-size: 16px;
            font-weight: 500;
            text-align: left;
            color: #0d0d0d;
            line-height: 19px;
        }
    }
    &__new-review{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__photo{
        position: relative;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        margin-bottom: 20px;
        border: 1px red solid;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            .reviews__photo-remove{
                opacity: 1;
            }
        }
    }
    &__photo-img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    &__photo-remove{
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
        display: flex;
        left: 0;
        color: white;
        font-size: 17px;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        transition: all 0.5s;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        &:hover{
            font-size: 18px;
        }
    }
}